In [1]:
stock_prices = [298, 305, 320, 301, 292]

#Index for array in most language is start with 0
stock_prices[0]

298

In [2]:
### Scenario 1: stock_prices in day 3
stock_prices[2]

320

### => Big O complexity on Array is O(1)

mean it is constant time operation

In [4]:
### Scenario 2: Question-On what day price was 301
for i in range(len(stock_prices)):
    if stock_prices[i] == 301:
        print(i)

3

### => The complexity for this program is O(n)

which means how to do n number of iteration to find the value in the array.

In [5]:
### Scenario 3: Print all prices
for price in stock_prices:
    print(price)

298
305
320
301
292

### => The complexity for this program is O(n)

In [6]:
### Scenario 4: Insert new price  284 at index 1
stock_prices.insert(1, 284)
print(stock_prices)

[298, 284, 305, 320, 301, 292]

### => The complexity for this program is O(n)

Because you have to do n number of warps.

In [9]:
### Scenatio 5: Delete element at index 1
stock_prices.pop(1)
print(stock_prices)

[298, 305, 320, 301, 292]

### => The complexity for this program is O(n)

In python, list is implemented as dynamic array

In other languages like JAVA, C++ we have static and dynamic arrays both

In [10]:
# Array can store number, text or complex object
stock_prices = [2, 3, 5, 6]
stock_names = ["AAPL", "IBM", "TATA"]
stock_data = [
    {"tickets": "APPL", "price":302},
    {"tickets": "TSLA", "price":902},
    {"tickets": "TATA", "price":278},
]

In [11]:
# Two Dimension Array
stock_prices = [
    [2, 3, 5, 6],
    [40, 42, 38, 44],
    [78, 89, 71, 66]
]

# Exercise:  Array DataStructure

1 - Let us say your expense for every month are listed below,

1. January - 2200
2. February - 2350
3. March - 2600
4. April - 2130
5. May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [29]:
exp = [2200, 2350, 2600, 2130, 2190]

In [30]:
# 1. In Feb, how many dollars you spent extra compare to January?
print("In feb this much extra was spent compared to jan:",exp[1] - exp[0])

# 2. Find out your total expense in first quarter (first three months) of the year

print("Total expense in first quarter (first three months) of the year:", exp[0]+exp[1]+exp[2])

# 3. Find out if you spent exactly 2000 dollars in any month
print("Did I spend 2000 dollars in any month?:", 2000 in exp)

# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
exp.append(1980)
print("Add June month in monthly expense list:", exp)

# 5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this
exp[3] = exp[3] - 200
print("Expenses after 200$ return in April:", exp)

In feb this much extra was spent compared to jan: 150
Total expense in first quarter (first three months) of the year: 7150
Did I spend 2000 dollars in any month?: False
Add June month in monthly expense list: [2200, 2350, 2600, 2130, 2190, 1980]
Expenses after 200$ return in April: [2200, 2350, 2600, 1930, 2190, 1980]

2 - You have a list of your favourite marvel super heros.

`heros=['spider man','thor','hulk','iron man','captain america']`

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily 

   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [38]:
heros=['spider man','thor','hulk','iron man','captain america']

# 1. Length of the list
print("length of the list:", len(heros))

# 2. Add 'black panther' at the end of this list
heros.append('black panther')
print("After add black panther:", heros)

# 3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3, 'black panther')
print("After add black panther after hulk:", heros)

# 4. Now you don't like thor and hulk because they get angry easily So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   #   Do that with one line of code.
heros[1:3]=['doctor strange']
print("Replace with doctor strange:", heros)

# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
heros.sort()
print("Sort the heros list in alphabetical order:",heros)

length of the list: 5
After add black panther: ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
After add black panther after hulk: ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
Replace with doctor strange: ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
Sort the heros list in alphabetical order: ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

3 - Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [2]:
max = int(input("Enter max number: "))

odd = []

for i in range(1, max):
    if i % 2 == 1:
        odd.append(i)
        
print("odd numbers between 1 and a max number:", odd)

odd numbers between 1 and a max number: [1, 3, 5, 7, 9]